.twatter(ng-show="controller.user")
  h1 twatter
  .profile(ng-style="{'background-image': 'url({{ controller.user.avatar }})'}")
    p {{ controller.user.name }}
  .twat-somethin
    form
      input(type="text" placeholder="twat something" ng-model="controller.twat.content" ng-maxlength="69")
      button(type="submit" ng-click="controller.twatSomething()" ng-disabled="controller.twat.content.length < 1") TWAT
      p {{ controller.charCount }} characters left
  .twats
    .twatted(ng-repeat="twat in controller.twats | reverse")
      .user
        img(ng-src="{{ twat.user.avatar }}")
        span(ng-click="controller.removeTwat(twat)") {{ twat.user.name }}
      .twat
        p(ng-bind-html="twat.content | linky:'_blank'")
