
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);

/**
 * Mixins
 */

@mixin responsive-window($bg-color, $z) {
  position: relative;
  height: 100vh;
  background: $bg-color;
  box-shadow: 0 4px 8px rgba(black, .2);
  z-index: $z;
}

@mixin align-hack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin randomizer {
  @for $i from 1 through 110 {
    &:nth-child(#{$i}) {
      background: hsl(60 * $i, 100%, 60%);
    }
  }
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
  background-size: 30%;
  font-family: 'Carrois Gothic SC';
}

.container {
  padding-top: 50px;
}

/* Keyframes */
@keyframes bounce {
  50% {transform: scale(1.1);}
}

// Component styles are injected through grunt
// injector
@import 'login/login.scss';
@import 'profile/profile.scss';
@import 'timeline/timeline.scss';
@import 'directives/logout/logout.scss';
@import 'directives/navigation/navigation.scss';
// endinjector
