.login
  p TWATTER
  button(class="login-btn" ng-click="controller.login()") Login with Twitter

.callout
  h1 "Like twitter but more fun"
  p -actual user

.content
  .selling-points
    .point
      span Real time shit happenz
      i(class="fa fa-rocket")
    .point
      span And we're watching you
      i(class="fa fa-gavel")
    .point
      span Retro fo sho show
      i(class="fa fa-taxi")

.footer
  .footer-content
    h1 You'll love it more than puss
    p &copy; twatter
